<!-- Basic template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintHub-Ecommerce</title>
    <link rel="shortcut icon" href="./Assets/Printhub_nobg.png" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://kit.fontawesome.com/dad03e859c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Berkshire+Swash&family=Comic+Neue:wght@700&family=Gentium+Book+Plus:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lexend+Deca:wght@500&family=Lexend:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500;800&family=Roboto:wght@100;400&family=Sue+Ellen+Francisco&family=Work+Sans:wght@400;700;900&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900;&display:swap">
</head>

<body>
  <%- include ('navbar') %>
    <!-- Blog Contents -->

    <section id="page-header" class="blog-header">
        <h2>#Readmore</h2>
        <p>read all case studies about our products</p>
    </section>

    <section id="blog" >
        <div class="blog-box">
          <div class="blog-img">
            <img src="./Assets/Bridge.jpg" alt="Image">
          </div>
          <div class="blog-details">
            <h3>Researchers Create New Method for 3D Printing Bridge</h3>
            <p>Researchers from institutes in Germany and the Netherlands have been working on a method of creating complex geometries in construction. The end result has been demonstrated in the construction of....</p>
            <a href="https://3dprinting.com/news/researchers-create-new-method-for-3d-printing-bridge/" target="_blank">Continue reading</a>
          </div>
          
          <h1>01/01</h1>
        </div> 
         
         <div class="blog-box">
            <div class="blog-img">
              <img src="./Assets/Construction.png" alt="Image">
            </div>
            <div class="blog-details">
              <h3>ISO/ASTM Releases Standards for Additive Manufacturing in Construction</h3>
              <p>The International Organization for Standardization (ISO) and ASTM International have jointly established standards for additive manufacturing in the construction sector. These standards are....</p>
              <a href="https://3dprinting.com/news/iso-astm-releases-standards-for-additive-manufacturing-in-construction/" target="_blank">Continue reading</a>
            </div>
            <h1>01/02</h1>
        </div>
         
         <div class="blog-box">
            <div class="blog-img">
              <img src="./Assets/3D-Printers.png" alt="Image">
            </div>
            <div class="blog-details">
              <h3>Best 3D Printers 2023 - Buyers Guide</h3>
              <p>This overview contains basic product specs & prices for our pick of the best consumer-grade 3D printers of 2023. We'll cover FDM printers at various price points, as well as a selection ....</p>
              <a href="https://3dprinting.com/3dprinters/best-3d-printers/" target="_blank">Continue reading</a>
            </div>
            <h1>02/01</h1>
        </div>
         
         <div class="blog-box">
            <div class="blog-img">
              <img src="./Assets/Footwear.jpg" alt="Image">
            </div>
            <div class="blog-details">
              <h3>Hilos Introduces 3D Printing Platform for Custom Footwear</h3>
              <p>Hilos, a company specializing in 3D printed footwear, has unveiled its new production platform at Art Basel Miami Beach. Partnering with fashion house Unknown Union, Hilos Studio marks....</p>
              <a href="https://3dprinting.com/news/hilos-introduces-3d-printing-platform-for-custom-footwear/" target="_blank">Continue reading</a>
            </div>
            <h1>02/02</h1>
        </div>
         
       </section>


    <section id="banner" class="section-m1">
      <h4>Offers like never before</h4>
      <h2>Up to <span>70% off </span> - All Designs and Accessories</h2>
      <a href="/shop"><button class="btn normal" onclick="">Explore more</button></a>
    </section>
    
    <%- include ('footer') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<script src="script.js"></script>
</body>
</html>






    