<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintHub-Ecommerce</title>
    <link rel="shortcut icon" href="./Assets/Printhub_nobg.png" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://kit.fontawesome.com/dad03e859c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Berkshire+Swash&family=Comic+Neue:wght@700&family=Gentium+Book+Plus:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lexend+Deca:wght@500&family=Lexend:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500;800&family=Roboto:wght@100;400&family=Sue+Ellen+Francisco&family=Work+Sans:wght@400;700;900&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900;&display:swap">
</head>

<body>
    <%- include ('navbar') %>   
    <!-- Contact Us Contents -->

    <section id="page-header" class="blog-header">
        <h2>Let's_talk</h2>
          <p>LEAVE A MESSAGE. We love to hear from you!</p>
    </section>
      
    <section id="contact-details" class="section-p1">
        <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Visit our shop or contact us today to bring your ideas to life through the magic of 3D printing!</h2>
        <h3>Head Office</h3>
        <div>
            <li>
            <i class="fal fa-map"></i>
            <p>Peelamedu, Coimbatore, Tamil Nadu 641004</p>
            </li>
            <li>
            <i class="far fa-envelope"></i>
            <p>contact@example.com</p>
            </li>
            <li>
            <i class="fas fa-phone-alt"></i>
            <p>+000 123 000 77 88 </p>
            </li>
            <li>
            <i class="far fa-clock"></i>
            <p>Monday to Satuday: 9.00am to 6pm</p>
            </li>
        </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31328.42755055757!2d76.99496056385658!3d11.034617226988312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85824c7646fcb%3A0x3cbee12a8c82fcb9!2sPeelamedu%2C%20Maheshwari%20Nagar%2C%20Coimbatore%2C%20Tamil%20Nadu%20641004!5e0!3m2!1sen!2sin!4v1700767147811!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    
    <section id="form-details" class="section-p1">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="text" placeholder="Email"><input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Type your message here..."></textarea>
            <button class="btn normal">Submit</button>
        </form>
        
        <div class="people">
        <div>
            <img src="" alt="user">
            <p><span>John Doe</span> Senior Marketing Manager <br>Phone: +000 123 000 77 88 <br>Email: contact@example.com</p>
        </div>
        
        <div>
            <img src="" alt="user">
            <p><span>John Doe</span> Senior Marketing Manager <br>Phone: +000 123 000 77 88 <br>Email: contact@example.com</p>
        </div>
        
        <div>
            <img src="" alt="user">
            <p><span>John Doe</span> Senior Marketing Manager <br>Phone: +000 123 000 77 88 <br>Email: contact@example.com</p>
        </div>
        </div>
    </section>



    <%- include ('footer') %>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 

  <script src="script.js"></script>
</body>
</html>

