<footer class="section-p1">
    
    <div class="col">
    <a href="#"><img class="logo" src="./Assets/Printhub_nobg.png"></a>
    <div class="follow">
        <h4>Follow Us</h4>
        <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
            </div>
    </div>
    </div>
    
    <div class="sec">   
    <div class="col">
    <h4>About</h4>
    <a href="/about">About Us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms and Condition</a>
    <a href="/contact">Contact Us</a>
    </div>
    
    <div class="col">
    <h4>My Account</h4>
    <a href="/cart">View Cart</a>
    <a href="/order-history">My Orders</a>
    <a href="#">Help</a>
      
    </div>
    
    <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>

    <div class="row">
    <img src="https://i.postimg.cc/Y2s5mLdR/app.jpg" alt="">
    <img src="https://i.postimg.cc/7YvyWTS6/play.jpg" alt="">
    </div>
    <p>Secured Payment Gateways</p>
    <img src="https://i.postimg.cc/kgfzqVRW/pay.png" alt="">
    </div>
    </div>

    <div class="coypright">
    <p> © 2023 All rights reserved! made for WAD Project </p>
    </div>

</footer>