<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion text-white" id="accordionSidebar" style="background-color: sienna;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admindashboard">
        <div class="sidebar-brand-icon">
            <img src="./Assets/Printhub_logo.png" alt="Logo" style="height: 40px; width: 60px;">
        </div>
        <div class="sidebar-brand-text mx-3 text-white">Ecommerce</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admindashboard">
            <i class="fas fa-fw fa-tachometer-alt text-white"></i>
            <span class="text-white"> Admin Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading text-white">
        Inventory
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog text-white"></i>
            <span class="text-white">Product Listing</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage Products:</h6>
                <a class="collapse-item" href="/addcategory">New Category</a>
                <a class="collapse-item" href="/deletecategory">Remove Category</a>
                <a class="collapse-item" href="/addproduct">New Products</a>
                <a class="collapse-item" href="/modifyproduct">Edit Existing Product</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench text-white"></i>
            <span class="text-white">Users</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage Customer:</h6>
                <a class="collapse-item" href="/manageuser">Manage Users</a>
            </div>
        </div>
    </li>



    


    <!-- Divider -->
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" style="color: blueviolet;"></button>
    </div>


    <li class="nav-item dropdown no-arrow" >
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="img-profile rounded-circle fas fa-user fa-sm fa-fw   fs-2 text-white"></i>
            <span class="  small text-white">Administrator</span>
                
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu shadow  ml-4"
            aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/adminlogout" >
                <i class="fas fa-sign-out-alt fa-sm fa-fw " ></i>
                Logout
            </a>
        </div>
    </li>
</ul>
<!-- End of Sidebar -->
